In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("walmart.db")
cursor = conn.cursor()

In [2]:
df = pd.read_csv("walmart_sales.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [4]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [5]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['Year_Month'] = df['Date'].dt.to_period('M').astype(str)
df['Date'] = df['Date'].dt.strftime('%m/%d/%Y')

In [7]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year_Month
0,1,02/05/2010,1643690.90,0,42.31,2.572,211.096358,8.106,2010-02
1,1,02/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106,2010-02
2,1,02/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,2010-02
3,1,02/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,2010-02
4,1,03/05/2010,1554806.68,0,46.50,2.625,211.350143,8.106,2010-03

In [8]:
df.to_sql("walmart", conn, if_exists="replace", index=False)

6435

In [9]:
df = pd.read_sql("""
SELECT
    Store,
    AVG(Weekly_Sales) AS Monthly_Sales,
    AVG(Temperature) AS Avg_Temperature,
    year_month
FROM walmart
GROUP BY Store, Year_Month
""", conn)

In [10]:
df.to_csv("walmart_update.csv", index=False)